[general]
log file=opac_enhancer.log
listening address=127.0.0.1
listening port=4192
debug=0

[aleph]
www server address=127.0.0.1
www server port=4992

# Request modules
[request]
foo=/path/to/request/module/foo

# Response modules
[response]
bar=/path/to/response/module/bar

# Optional configuration for 'foo' request module
[request_foo]
foo=0

# Optional configuration for 'bar' response module
[response_bar]
bar=1
